
body {
  background-image: linear-gradient(rgb(24, 24, 24),rgb(53, 52, 52));
 }

 /* Navigation bar! */

 .topnav h1 {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  color: yellow;
  }
  
  .topnav span {
      font-family:cursive;
      font-weight: 20;
      font-size: 45px;
      color: rgb(255, 255, 255);
  }

.topnav {
  background-color: #232323;
  overflow: scroll;
  width: 100%;
}

.topnav ul {
    list-style: none;
    text-align: center;
}

.topnav li {
display: inline-block;
margin-left: 5%;
margin-right: 5%;
}


.topnav a {
  float: left;
  color: #ffffff;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.topnav a:hover {
  color: rgb(194, 194, 194);
  background-color: rgb(123, 117, 117);
}

.topnav a.active {
  background-color: #535353;
  color: white;
}


 /* Face Image! */

 .bg h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 80px;
  margin-right: 18%;
 }

 

 .bg h2 span {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
 }

.bg img {
  width: 100%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.bg h4 {
  color: white;
  text-align: center;
  color: yellow;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 80px;
  margin-left: 20%;
}
.Intro h2 {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  content: ""; 
  display: block; 
  margin: 0 auto; 
  width: 40%; 
  padding-top: 150px; 
  border-bottom: 1px solid rgb(255, 255, 255);
  }


/* About Me */

#p1 {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

#p2 {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

#S {
  text-align: center;
  margin-left: 250px;
}

#face {
width: 50%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
.mywork {
  color: white;
  text-align: center;

}

  .mywork h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 40%; 
    padding-top: 150px; 
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 50px;
  }
  

.mywork p {
  color: white;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 100px;

}

.box1 {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  border: 5px solid rgb(101, 103, 101);
  padding: 50px;
  box-shadow: 20px 20px 50px black;
}

.box2 {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  border: 5px solid rgb(101, 103, 101);
  padding: 50px;
  box-shadow: 20px 20px 50px black;
}

.box3 {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  border: 5px solid rgb(101, 103, 101);
  padding: 50px;
  box-shadow: 20px 20px 50px black;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  margin-left: 2%;
}

.myskills {
  color: white;
  text-align: center;
  list-style-position: inside;
  width: 100%;
  height: 500px;
  background-color: rgb(75, 74, 74);
  border: 2px black;
  
}
.myskills h2 {
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 300px;
  font-size: 50px;
  content: ""; 
  display: block; 
  margin: 0 auto; 
  width: 40%; 
  padding-top: 150px; 
  border-bottom: 1px solid rgb(255, 255, 255);
}

.skilllist {
  list-style-type:square;
}

.contact {
  color: rgb(229, 225, 225);
  text-align: center;
}

.contact h2 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  margin-top: 50px;
  
}

.button {
  background-color: rgb(79, 79, 79);
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.button:hover {
  color: white;
  background-color: rgb(137, 134, 134);
}